<!DOCTYPE html>
<html>
    <head>
        <title> Checkroom </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <nav>
            <div class="content-left"> 
                <a href="#" ><div class="logo"> หน้าหลัก </div></a>
                <a href="checkroom.html" ><div class="logo"> ตรวจสอบห้อง </div></a>
        </div>
            <ul>
                <li><a href="register.html"> สมัครสมาชิก </a></li>
                <li><a href="/login"> ออกจากระบบ </a></li>
            </ul>
        </nav>
        <div class="margin">


            <div class="container content">
                <div class="block-1">
                   <p><a href="#" >SPIT-01</a></p> 
                    <img src="img/green.jpg" class="icon">
                </div>
                <div class="block-1">
                    <p><a href="#" >SPIT-02</a></p> 
                     <img src="img/green.jpg" class="icon">
                 </div>
                 <div class="block-1">
                    <p><a href="#" >SPIT-03</a></p> 
                     <img src="img/green.jpg" class="icon">
                 </div>
            </div>

            <div class="container content">
                <div class="block-1">
                   <p><a href="#" >SPIT-04</a></p> 
                    <img src="img/green.jpg" class="icon">
                </div>
                <div class="block-1">
                    <p><a href="#" >SPIT-05</a></p> 
                     <img src="img/green.jpg" class="icon">
                 </div>
                 <div class="block-1">
                    <p><a href="#" >SPIT-06</a></p> 
                     <img src="img/green.jpg" class="icon">
                 </div>
            </div>


    </body>
    <footer>

    </footer>
 
</html>