<!DOCTYPE html>
<html>
    <head>
        <title> Modify </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        <nav>
            <div class="content-left"> 
                <a href="#" ><div class="logo"> หน้าหลัก </div></a>
                <a href="checkroom.html" ><div class="logo"> ตรวจสอบห้อง </div></a>
        </div>
            <ul>
                <li><a href="index.html"> ออกจากระบบ </a></li>
            </ul>
        </nav>
    <div class="margin-1">

        <div class="container content-1">                
            <h3>แก้ไขข้อมูลการจองห้อง</h3>              
        </div>

        <div class="container content-1">
            <div class="block-1">
                <h3>ห้อง</h3>
            </div>
        </div>

        <div class="container content-1 ">
            <div class="block-2">
                <p>วันที่</p>
            </div>
        </div>

        <div class="container content-1 ">
            <div class="block-2">
                <p>เวลา</p>
            </div>
        </div>
      
        <div class="container content"> 
                <p><a href="/success" class="box red-box">ยืนยัน</a></p>                    
                <p><a href="/rent" class="box red-box">ยกเลิก</a></p> 
        </div>
    </div>
    </body>
    <footer>

    </footer>
    
</html>